$base_color: #ddd;
$active-color: #800;

$include-default-icons: false;
$base_gradient: flat;

@import 'sencha-touch/default/all';

@include pictos-iconmask('home');
@include pictos-iconmask('refresh');
@include pictos-iconmask('search');
@include pictos-iconmask('info');

@include sencha-tabbar-ui('hello', 'red', 'flat', 'red');

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

/**
 * For some weird reason we can't use itemHeight for the grid, or $global-row-height, so will have to do it manually.
 * TODO: Figure that out
 */

.x-container.songGrid .x-dock-body .x-stretched, .x-container.songGrid .x-dock-body .x-grid-cell {
  height: 2.2em;
  min-height: 2.2em;
  line-height: 2.2em;
}

/*.......| Generic Stuff               |.......................*/
.info {
  padding: 10px;
}

.x-desktop  .info {
  width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 10px;
}

.x-phone {
  font-size: 80% !important;
}

.touchgridpanel .x-grid-cell {
  font-weight: 400 !important;
}

.info h1 {
  margin: 5px 0 15px;
  font-size: 120%;
  color: #2266ff !important;
  font-weight: bold;
}

/*.......| Chords                      |.......................*/
.chord {
  color: #004;
  border-bottom: 1px #004 dotted;
  cursor: pointer;
}

.chord-diagram {
  letter-spacing: 1.5px;
}

.text-line {
  margin-top: 5px;
  margin-bottom: 15px;
}

/*.......| About                       |.......................*/
.about p {
  margin: 10px 0;
}

p {
}

.chordLine {
  padding: 15px;
}

.chordLine:nth-child(2n) {
  background-color: #ddd;

}