$base_color: #ff723d;
$active-color: #ff723d;
$images_path: "../../../../../resources/images/";

$include-default-icons: false;
$base_gradient: flat;
$tab-icon-color: #666;

@import 'sencha-touch/default/all';
//@include pictos-iconmask('home');
//@include pictos-iconmask('refresh');
//@include pictos-iconmask('search');
//@include pictos-iconmask('info');

@include sencha-tabbar-ui('chordsTabPanel', #e6e6e6, 'flat', #ccc);

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

@mixin chords-iconmask($name) {
  .x-tab .x-button-icon.#{$name},
  .x-button .x-button-icon.x-icon-mask.#{$name} {
    // because of the SDKTOOLS-313 bug have to use this ugly path
    -webkit-mask-image: theme_image($theme-name,  $images_path + $name + ".png");
  }
}

@mixin chords-icon($name) {
  -webkit-mask-image: theme_image($theme-name,  $images_path + $name + ".png");
}

@include chords-iconmask("home");
@include chords-iconmask("shuffle");
@include chords-iconmask("cross");
@include chords-iconmask("arrow-up");
@include chords-iconmask("arrow-down");

/**
 * For some weird reason we can't use itemHeight for the grid, or $global-row-height, so will have to do it manually.
 * TODO: Figure that out
 */

.x-container.songGrid .x-dock-body .x-stretched,
.x-container.songGrid .x-dock-body .x-grid-cell {
  height: 2.2em;
  min-height: 2.2em;
  line-height: 2.2em;
  text-align: left !important;

}

.x-container.songGrid .x-list-item-body .x-grid-cell {
  border-bottom: 1px #fff solid;
  border-left: 1px #d9d9d9 solid;

}

.x-container.songGrid .x-dock-body  .x-grid-cell-hd {
  padding: 0 10px !important;
}

/*.......| Generic Stuff               |.......................*/
.x-desktop  .info {
  width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
}

.x-phone {
  font-size: 90% !important;
}

.touchgridpanel .x-grid-cell {
  font-weight: 400 !important;
}

.info h1 {
  margin: 5px 0 15px;
  font-size: 120%;
  color: #2266ff !important;
  font-weight: bold;
}

/*.......| Chords                      |.......................*/
.chord {
  color: #004;
  border-bottom: 1px #004 dotted;
  cursor: pointer;
}

.chord-diagram {
  letter-spacing: 1.5px;
}

.text-line {
  margin-top: 5px;
  margin-bottom: 15px;
}

/*.......| About                       |.......................*/
.about p {
  margin: 10px 0;
}

p {
}

.chordLine {
  padding: 7px 15px;
}

.chordLine:nth-child(2n) {
  background-color: #fffff9;
}

.x-tabbar.x-docked-bottom .x-tab {
  width: 25%;
  height: 55px;
  border-radius: 0;
  border-right: 1px white solid;
  border-left: 1px #acacac solid;
  background: #e9e9e9;
}

.x-tabbar.x-docked-bottom .x-tab-active {
  background-color: #ccc;
}

#chordsTabPanel .x-tabbar {
  border-top: 1px #d9501d solid !important;
  .x-button-icon {
    background: $tab-icon-color;
    margin-top: 8px;
  }
  .x-button-label {
    display: none;

  }
}

.x-navigation-bar {
  .x-button {
    border: 0;
    background: transparent;
    .x-button-icon {
      -webkit-mask-size: 1.6em;
      -webkit-mask-repeat: no-repeat;
      width: 1.7em;
      height: 1.7em;
    }
  }
  .x-button-back.x-button-pressing {
    background: #666;
  }
  .x-button-back {
    height: 1.6em;
    min-height: 1.6em;
    border-radius: 4px;
    background: #000;

  }
  .x-button-label {
    font-weight: 400;
  }

  .x-button-back.x-button-pressing::before, .x-button-back.x-button-pressing::after {
    background: #666 !important;

  }
  .x-button-back::before, .x-button-back::after {
    background: #000 !important;
  }
}

.x-field-search .x-field-input::before {
  @include chords-icon("search");
  background: #a2bf67;

}