/**
 * Created with JetBrains PhpStorm.
 * Author: Kirill Cherkashin
 * Date: 2/5/13
 * Time: 9:13 PM
 *
 */
/*.......| Generic Stuff               |.......................*/
.info {
    padding: 10px;
}

.x-desktop  .info {
    width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 10px;
}

.x-phone {
    font-size: 80% !important;
}

.touchgridpanel .x-grid-cell {
    font-weight: 400 !important;
}

.info h1 {
    margin: 5px 0 15px;
    font-size: 120%;
    color: #2266ff !important;
    font-weight: bold;
}

/*.......| Chords                      |.......................*/
.chord {
    color: #004;
    border-bottom: 1px #004 dotted;
    cursor: pointer;
}

.chord-diagram {
    letter-spacing: 1.5px;
}

.text-line {
    margin-top: 5px;
    margin-bottom: 15px;
}

/*.......| About                       |.......................*/
.about p {
    margin: 10px 0;
}

/*.......| Songs Grid                  |.......................*/
/**
 * For some weird reason we can't use itemHeight for the grid
 */
.x-container.songGrid .x-stretched, .x-container.songGrid .x-grid-cell {
    height: 2.2em;
    min-height: 2.2em;
    line-height: 2.2em;
}



.x-container.myTable .x-stretched, .x-container.myTable .x-grid-cell {
    height: 2.2em;
    min-height: 2.2em;
    line-height: 2.2em;
}
